@{
    ViewData["Title"] = "User Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <p>Welcome back, @User.Identity.Name!</p>
}
else
{
    <p>Please <a asp-controller="Account" asp-action="LogIn">log in</a>.</p>
}

<div>
    <form asp-controller="Account" asp-action="Logout" method="post">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>