@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <button type="button" onclick="alert('Hello world!')">Log in</button>
        <button type="button" onclick="alert('Hello world!')">Sign up!</button>
    </p>
    
</div>