@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <button type="button" onclick="location.href='@Url.Action("LogIn", "Account")'">Log in</button>
        <button type="button" onclick="location.href='@Url.Action("SignUp", "Account")'">Sign up!</button>
    </p>
    
</div>